{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "ID",
      "L": "Jakarta",
      "O": "Go-Jek",
      "OU": "CA",
      "ST": "DKI Jakarta"
    }
  ]
}
